/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* banner styles  */
#banner{
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px;
}
.top-banner{
    display: flex;
    align-items: center;
    gap: 24px;
}
.banner-left, .banner-right{
    width: 50%;
}
.banner-left{
    padding: 100px;
}
.banner-right img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}
.banner-left h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}
.banner-left p{
    font-size: 16px;
    color: #FFFFFF;
    margin: 30px 0;
}
.banner-left button{
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 20px 50px;
    cursor: pointer;
}
.banner-left button:hover{
    background: #FFFFFF;
    color: #DD0000;
}

/* newsfeed styles  */
#news-feed{
    margin: 50px 140px;
    display: flex;
    gap: 24px;
}
.navigation-btn{
    background: #161616;
    border-radius: 10px;
    height: 100%;
}
.navigation-btn ul{
    padding: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.navigation-btn ul a{
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}
.btn1{
    background-color: #fff;
    padding: 17px 39px;
    border-radius: 10px;
}
.btn2{
    background-color: #fff;
    padding: 17px 79px;
    border-radius: 10px;
}
.btn1 a, .btn2 a{
    color: #161616;
}
.active{
    background-color: #DD0000;
    padding: 17px 103px;
    border-radius: 10px;
}
.active a{
    color: white;
}
.blog-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.card-banner img{
    width: 100%;
}
.card-content{
    margin: 20px;
}
.card-btn button{
    padding: 4px 17px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}
.card-btn p{
    font-size: 18px;
    font-weight: 600;
    margin:15px 0 20px 0;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
/* custom device design  */

/* mobile divices  */
@media only screen and (max-width:575px) {
    /* banner styles  */
    #banner{
        margin: 44px 20px;
    }
    .top-banner{
        flex-direction: column;
    }
    .banner-left{
        width: 100%;
    }
    .banner-left{
        margin-top:28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-left{
        padding: 10px 0;
    }
    .banner-left h1{
        font-size: 22px;
        text-align: center;
    }
    .banner-left p{
        font-size: 14px;
        text-align: center;
    }
    .banner-left button{
        padding: 8px 12px;
    }
    .hide{
        display: none;
    }
    .banner-right img{
        height: 245px;
        width: 233px;
        margin-top: -24px;
    }
    #news-feed{
        flex-direction: column;
    }
    .navigation-btn ul{
        background-color: #fff;
    }
    .btn1, .btn2, .active{
        padding: 10px 50px;
    }
    .blog-cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .card{
        width: 335px;
        height: 388.69px;
    }

    
}

/* tablet  */
@media only screen and (min-width:576px) and (max-width:991px){
    /* banner styles  */
    #banner{
        margin: 50px 50px;
    }
    .banner-left h1{
        font-size: 40px;
    }
    .banner-left p{
        font-size: 14px;
        margin: 10px 0;
    }
    .banner-left button{
        padding: 12px;
    }
    .banner-left .hide{
        display: none;
    }
    .banner-right img{
        width: 100%;
    }

    /* news-feed-content  */
    #news-feed{
        flex-direction: column;
        margin: 50px 50px;
    }
    .navigation-btn ul{
        flex-direction: row;
        background-color: #fff;
    }
    .btn1{
        padding: 17px 28px;
    }
    .blog-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}