/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* banner styles  */
#banner{
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px;
}
.top-banner{
    display: flex;
    align-items: center;
    gap: 24px;
}
.banner-left, .banner-right{
    width: 50%;
}
.banner-left{
    padding: 100px;
}
.banner-right img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
    margin-bottom: -7%;
}
.banner-left h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}
.banner-left p{
    font-size: 16px;
    color: #FFFFFF;
    margin: 30px 0;
}
.banner-left button{
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 20px 50px;
    cursor: pointer;
    border: none;
}
.banner-left button:hover{
    background: #FFFFFF;
    color: #DD0000;
}

/* newsfeed styles  */
#news-feed{
    margin: 50px 140px;
    display: flex;
    gap: 24px;
}
.blog-navigation{
    border-radius: 10px;
    background-color: #161616;
    padding: 30px;
    height: 100%;
}
.blog-navigation ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left:-40px;    
} 
.blog-navigation ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.btn{
    color: black;
    height: 64px;
    width: 252px;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    background-color: #DD0000;
    cursor: pointer;
}
.btn:hover a{
    color: #fff;
}
.btn a{
    color: black;
}
#active{
    background-color: #DD0000;
    height: 64px;
    width: 252px;
    border: none;
    border-radius: 10px;
}
#active a{
    color: white;
}



.blog-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.card-banner img{
    width: 100%;
}
.card-content{
    margin: 20px;
}
.card-btn button{
    padding: 4px 17px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}
.card-btn button:hover{
    background-color: #DD0000;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.card-btn p{
    font-size: 18px;
    font-weight: 600;
    margin:15px 0 20px 0;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.flag-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.flag-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.flag-card-banner{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flag-card-content h4{
    font-weight: 600;
    font-size: 20px;
}

/* footer styles */
.footer-content{
    background-color: #161616;
    padding: 50px 0;
}

.footer-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}


.footer-content h1{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}
.footer-content .footer-links, .social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 48px;
}
.footer-content ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
}
.social-icons{
    margin-top: 50px;
    padding-bottom: 20px;
}
.social-icons i{
    font-size: 24px;
    padding: 16px;
    background-color: #fff;
    color: #161616;
    border-radius: 50%;
}
.social-icons i:hover{
    background-color: #DD0000;
    color: #FFFFFF;
}
.view-all-btn{
    position: relative;
    margin: 20px auto;
    display: none;
}
.view-all-btn button{
    padding: 12px 30px;
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.view-all-btn button:hover{
    color: #DD0000;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
}

/* animation  */
#ball-1{
    position: absolute;
    animation: ltr 5s linear infinite alternate;
    animation-play-state: unset;
    transition: transform .5s;
}
.animtated-ball img{
    height: 50px;
    width: 50px;
}
@keyframes ltr{
    0%{
        left: 5%;
        top: 0;
    }
    100%{
        left:80%;
        top:0;
        transform: rotate(180deg);   
    }
}
/* custom device design  */

/*
---------------
------------- 
mobile divices
---------------
--------------
  */
@media only screen and (max-width:575px) {
    /* banner styles  */
    #banner{
        margin: 44px 20px;
    }
    .top-banner{
        flex-direction: column;
    }
    .banner-left, .banner-right{
        width: 100%;
    }
    .banner-left{
        margin: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-left{
        padding: 10px 0;
    }
    .banner-left h1{
        font-size: 22px;
        text-align: center;
    }
    .banner-left p{
        font-size: 14px;
        text-align: center;
    }
    .banner-left button{
        padding: 8px 12px;
        border: none;
    }
    .hide{
        display: none;
    }
    .banner-right img{
        width: 233px;
        height: 245px;
        margin-left:25%;
        margin-bottom:0;
    }
    /* news feed styles  */
    #news-feed{
        flex-direction: column;
        align-items: center;
    }
    .blog-navigation{
        background-color: #fff;
    }
    .blog-cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .card{
        width: 335px;
        height: 388.69px;
    }
    /* flag-cards  */
    .flag-cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    /* footer styles  */

    .footer-content .footer-links{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .footer-content h1{
        padding-top: 24px;
        font-weight: 600;
        font-size: 22px;
    }
    .footer-content ul a{
        font-size: 14px;
    }
    hr{
        margin: 24px 0;
    }
    .social-icons i{
        font-size: 16px;
        padding: 8px;
    }

    
}

/*
-----------
----------- 
tablet
------------
-----------
  */
@media only screen and (min-width:576px) and (max-width:991px){
    /* banner styles  */
    #banner{
        margin: 50px 50px;
    }
    .banner-left h1{
        font-size: 40px;
    }
    .banner-left p{
        font-size: 14px;
        margin: 10px 0;
    }
    .banner-left button{
        padding: 12px;
    }
    .banner-left .hide{
        display: none;
    }
    .banner-right img{
        width: 100%;
        margin-bottom: -2%;
    }

    /* news-feed-content  */
    #news-feed{
        flex-direction: column;
        margin: 50px 50px;
        justify-content: center;
        width: 100%;
    }
    .blog-navigation{
        background-color: #fff;
    }
    .blog-navigation ul{
        flex-direction: row;
        gap: 10px;
    }
    .blog-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        width: 357px;
    }

    /* flag card  */
    .flag-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .flag-card{
        width: 312px;
    }
    .view-all-btn{
        display: block;
    }
    
    
}